Scene{
    background-color: white;
}


SudokuTextField{
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-border-color: grey;
    -fx-border-radius: 8px;
    -fx-padding: 8px 8px 8px 8px;
    
}

/*Button{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-color: #ccccff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}*/

Button{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-image:url("images/button-bg.png");
    -fx-background-color: #ccccff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
     
}