TextField{
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-color: red;
    -fx-border: 4px;
    -fx-border-radius: 10px;
    
}

Button{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-color: #ccccff;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}